@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #e5eaf5;
}

.waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    animation: flip 3s;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

  